body, 
nav{
  background: #282e38;
}

.card-box {
  background-color: #313844;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
  box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
  margin-bottom: 24px;
  border-radius: .25rem;
}